.one-item-block {
  max-width: 700px;
  margin: 0 auto;
}

.image-wrapper {
  width: 700px;
  height: 350px;
}

.image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  max-width: 700px;
}

.price {
  font-size: 30px;
}

.buy {
  font-size: 24px;
}
