<section class="one-item py-5" [ngClass]="{'full-height': isEmptyPage}">
  <div
    *ngIf="!isEmptyPage"
    class="one-item-block d-flex flex-column justify-content-center align-items-center">
    <h2 class="h2 title">{{teaItem.title}}</h2>
    <div class="image-wrapper mt-4">
      <img class="image-img" src="{{teaItem.image}}" alt="{{teaItem.title}}">
    </div>
    <div class="price-and-buy d-flex gap-2">
      <span class="badge price bg-info mt-2">{{teaItem.price | currency : 'KZT' : 'symbol'}}</span>
      <button class="mt-2 btn buy btn-primary" (click)="buyItem()">Купить</button>
    </div>
    <p class="description mt-4">{{teaItem.description}}</p>
  </div>
  <div
    *ngIf="isEmptyPage"
    class="empty-message">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Ошибка!</h4>
      <p>Не удалось получить информацию о каталоге товаров от сервера. Попробуйте обновить страницу</p>
      <hr>
      <p class="mb-0">Мы делаем все возможное чтобы наладить работу сайта</p>
    </div>
  </div>

</section>
