<section class="answers pt-4 pb-5">
      <div class="container">
          <h2 class="text-center mb-5">Ответы на часто задаваемые вопросы</h2>
          <div ngbAccordion [closeOthers]="true">
              <div ngbAccordionItem [collapsed]="false">
                  <h2 ngbAccordionHeader>
                      <button ngbAccordionButton type="button">
                          Собираете ли вы подарочные боксы?
                      </button>
                  </h2>
                  <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
                      </div>
                  </div>
              </div>
              <div ngbAccordionItem>
                  <h2 ngbAccordionHeader>
                      <button ngbAccordionButton type="button">
                          Сколько у вас разновидностей чая?
                      </button>
                  </h2>
                  <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                          Несчетное количество. За год все не выпьете.
                      </div>
                  </div>
              </div>
              <div ngbAccordionItem>
                  <h2 ngbAccordionHeader>
                      <button ngbAccordionButton type="button">
                          В какой срок осуществляется доставка?
                      </button>
                  </h2>
                  <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                          Точно сказать не можем. Но стопудово быстрее чем почта России.
                      </div>
                  </div>
              </div>
              <div ngbAccordionItem>
                  <h2 ngbAccordionHeader>
                      <button ngbAccordionButton type="button">
                          У вас обновляется ассортимент?
                      </button>
                  </h2>
                  <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                          Конечно нет! Мы всю жизнь продаем один и тот же чай! Только никому не говорите...
                      </div>
                  </div>
              </div>
              <div ngbAccordionItem>
                  <h2 ngbAccordionHeader>
                      <button ngbAccordionButton type="button">
                          Какого объема у вас пачки чая?
                      </button>
                  </h2>
                  <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                          Если объем вашего авто менее 3 литров, то мы дадим вам пачку в пределах этого объема.
                      </div>
                  </div>
              </div>
          </div>
      </div>
</section>
