<section class="banner py-lg-5 py-md-3">
  <div class="container-md">
    <ngb-carousel
      [interval]="sliderInterval"
      [pauseOnHover]="pauseOnHover"
      [pauseOnFocus]="pauseOnFocus"
    >
      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img src="/assets/images/1.png" class="d-block w-100" alt="Чай с апельсином">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img src="/assets/images/2.png" class="d-block w-100" alt="Чай с лепестками">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img src="/assets/images/3.png" class="d-block w-100" alt="Чай с клюквой">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>
