.hidden {
  display: none;
}


/* Bootstrap customize */
.w-fit-content {
  width: fit-content;
}

.btn-w {
  width: 170px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
